* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  /* background-color: #0a0c0f; */
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

/* ------------ HEADER ---------------*/
header {
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  font-size: 32px;
  width: 100%;
  padding: 15px 0 0;
  padding: 25px 50px;
}

.header-container {
  max-width: 1520px;
  margin: 0 auto;
  border-bottom: 2px solid white;
}

.span-logo {
  color: rgb(161, 0, 161);
}

.span-logo.text {
  display: inline-block;
  margin-left: 25px;
}

.header-container img {
  margin-left: 25px;
  width: 250px;
  height: 250px;
}

/* .header-container ul {
  margin-top: 35px;
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-evenly;
  font-size: 26px;
}

.header-container ul li {
  font-size: 24px;
}

.header-container ul li a {
  transition: color 0.2s;
}

.header-container ul li a:hover {
  color: rgb(161, 0, 161);
}

.header-container ul li span {
  color: rgb(161, 0, 161);
} */

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn-absolut {
  position: absolute;
  top: 30px;
  right: 50px;
}

.header-btn-absolut button {
  cursor: pointer;
  width: 230px;
  height: 50px;
  font-size: 24px;
  /* background-image: linear-gradient(
    to right,
    #9606a3 0%,
    #610545 51%,
    #1f0115 100%
  ); */
  background-color: rgb(161, 0, 161);
  border: none;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  font-weight: bold;

  /* box-shadow: 0 0 20px black; */
  /* background-size: 200% auto; */
  transition: filter 0.2s;
}

.header-btn-absolut button:hover {
  filter: opacity(0.8);
}

/* --------------  /Header ----------------*/

main {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  position: relative;
}
/*---------- SIDEBAR -----------*/
.sidebar {
  position: absolute;
  left: 30px;
  top: 0;
  width: 325px;
  height: 500px;

  background-color: rgb(3, 3, 3);
  box-shadow: 0 0 8px rgb(161, 0, 161);
  border-radius: 10px;
  padding: 30px 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
  text-align: center;
}

.sidebar-right {
  position: absolute;
  right: 30px;
  top: 0;
}

.sidebar-right img {
  border-radius: 5px;
  box-shadow: 0 0 20px white;
}

.sibebar-theme-geral {
  font-size: 18px;
  color: gray;
}

.sibebar-theme-jogos {
  font-size: 18px;
  color: gray;
}

.sibebar-theme-geral.ativo {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.sibebar-theme-jogos.ativo {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

.change-content.ativo {
  color: rgb(161, 0, 161);
  font-weight: bold;
}

.sidebar-nav div a {
  display: block;
  font-size: 16px;
  color: white;
  margin-bottom: 5px;

  transition: color 0.2s;
}

.sidebar-nav div a:hover {
  color: rgb(161, 0, 161);
}
/* ------------ /SIDEBAR ---------------*/
.main-container {
  max-width: 920px;
  margin: 0 auto;
}

.main-content {
  margin-bottom: 25px;
  display: none;
}

.main-content.ativo {
  display: block;
  animation: anime-content 1s forwards;
}

@keyframes anime-content {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.main-content h1 {
  color: rgb(161, 0, 161);
  margin-top: 30px;
}

.main-content p {
  margin: 10px 0;
}

#steam {
  width: 550px;
  padding: 15px;
  background-color: #282e39;
  margin: 15px auto 0;
}

#steam header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#steam header h1 {
  color: white;
  font-size: 22px;
  border-bottom: none;
}

#steam header h1 span {
  color: gray;
}

#steam header img {
  width: 40px;
}

#steam .steam-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#steam .steam-content img {
  width: 250px;
  margin-right: 10px;
}

#steam .steam-content p {
  font-size: 14px;
}

#steam footer {
  display: flex;
  justify-content: space-between;
}

#steam footer img {
  width: 22px;
  height: 22px;
}

#steam footer div {
  display: flex;
  transform: translateY(30px);
}

#steam footer div p {
  width: 80px;
  height: 40px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(148, 148, 148);
  background-color: black;
  text-align: center;
}

#steam footer div button {
  cursor: pointer;
  width: 160px;
  background-image: linear-gradient(
    to right,
    #6fa720 0%,
    #588a1b 51%,
    #243a04 100%
  );
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  margin-left: 5px;

  box-shadow: 0 0 20px black;
  background-size: 200% auto;
  transition: 0.5s;
}

#steam footer div button:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.footer-responsive {
  display: none;
}

@media (max-width: 576px) {
  /*-------HEADER--------*/
  .header-content {
    display: flex;
    align-items: center;
    font-size: 22px;
    width: 100%;
    padding: 25px 20px;
  }

  .header-container {
    max-width: 576px;
    margin: 0 auto;
    border-bottom: 0;
    padding: 0px 20px;
  }

  .header-container img {
    margin-left: 25px;
    width: 150px;
    height: 150px;
  }

  .header-btn-absolut {
    position: absolute;
    width: 220px;
    top: 220px;
    left: 25%;
    right: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-btn-absolut button {
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    font-weight: bold;

    /* box-shadow: 0 0 20px black; */
    /* background-size: 200% auto; */
    transition: filter 0.2s;
  }

  .header-btn-absolut button:hover {
    filter: opacity(0.8);
  }
  /*-------/HEADER--------*/

  /*---------- SIDEBAR -----------*/

  .sidebar {
    position: initial;
    display: flex;
    width: 250px;
    height: 150px;
    margin: 100px auto 50px;
    transform: translateX(10px);
    justify-content: center;

    padding: 30px 15px;
  }

  .sidebar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    position: initial;
  }

  body {
    position: relative;
  }

  .sidebar-right {
    display: none;
  }

  /*---------- /SIDEBAR -----------*/

  /* --------- CONTENT ---------- */
  main {
    height: auto;
  }

  .main-container {
    max-width: 300px;
    margin: 0 auto;
  }

  .main-content h1 {
    color: rgb(161, 0, 161);
    margin-bottom: 20px;
    text-align: center;
  }

  /* --------- /CONTENT ---------- */

  /* ---------- FOOTER ----------*/
  .footer-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 50px auto;
  }

  .footer-responsive img {
    width: 135px;
    border-radius: 5px;
    box-shadow: 0 0 15px white;
  }
  /* ---------- /FOOTER ----------*/

  /* ------------ STEAM -------------- */
  #steam {
    max-width: 320px;
    padding: 15px;
    background-color: #282e39;
    margin: 50px auto 0;
  }

  #steam header h1 {
    font-size: 18px;
  }

  #steam header img {
    width: 25px;
  }

  #steam .steam-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 25px;
  }

  #steam .steam-content img {
    width: 100%;
    margin-right: 10px;
  }
}

/*********/

@media (min-width: 577px) and (max-width: 768px) {
  /*-------HEADER--------*/
  .header-content {
    display: flex;
    align-items: center;
    font-size: 26px;
    width: 100%;
    padding: 25px 20px;
  }

  .header-container {
    max-width: 576px;
    margin: 0 auto;
    border-bottom: 0;
    padding: 0px 20px;
  }

  .header-container img {
    margin-left: 25px;
    width: 175px;
    height: 175px;
  }

  .header-btn-absolut {
    position: absolute;
    width: 320px;
    top: 240px;
    left: 25%;
    right: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .header-btn-absolut button {
    cursor: pointer;
    width: 320px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: white;
    font-weight: bold;

    /* box-shadow: 0 0 20px black; */
    /* background-size: 200% auto; */
    transition: filter 0.2s;
  }

  .header-btn-absolut button:hover {
    filter: opacity(0.8);
  }
  /*-------/HEADER--------*/

  /*---------- SIDEBAR -----------*/

  .sidebar {
    position: initial;
    display: flex;
    width: 350px;
    height: 200px;
    margin: 100px auto 50px;
    transform: translateX(10px);
    justify-content: center;

    padding: 30px 15px;
  }

  .sidebar-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-nav a + a {
    margin-top: 10px;
  }

  main {
    position: initial;
  }

  body {
    position: relative;
  }

  .sidebar-right {
    display: none;
  }

  /*---------- /SIDEBAR -----------*/

  /* --------- CONTENT ---------- */
  main {
    height: auto;
  }

  .main-content h1 {
    color: rgb(161, 0, 161);
    margin-bottom: 20px;
    text-align: center;
  }

  .main-container {
    max-width: 500px;
    margin: 0 auto;
  }

  /* --------- /CONTENT ---------- */

  /* ---------- FOOTER ----------*/
  .footer-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 50px auto 0px;
  }

  .footer-responsive img {
    width: 230px;
    border-radius: 5px;
    box-shadow: 0 0 15px white;
  }
  /* ---------- /FOOTER ----------*/

  /* ---------- STEAM -------------*/
  #steam {
    max-width: 500px;
    padding: 15px;
    background-color: #282e39;
    margin: 50px auto 0;
  }
  /* ---------- /STEAM -------------*/
}

@media (min-width: 769px) and (max-width: 992px) {
  /*-------HEADER--------*/
  .header-content {
    display: flex;
    align-items: center;
    font-size: 28px;
    width: 100%;
    padding: 25px 20px;
  }

  .header-container {
    max-width: 576px;
    margin: 0 auto;
    border-bottom: 2px solid white;
    padding: 0px 20px 10px;
  }

  .header-container img {
    margin-left: 25px;
    width: 200px;
    height: 200px;
  }

  .header-btn-absolut {
    position: absolute;
    top: 30px;
    right: 10px;
  }

  .header-btn-absolut button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: rgb(161, 0, 161);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;

    transition: filter 0.2s;
  }
  /*-------/HEADER--------*/

  /*---------- SIDEBAR -----------*/

  .sidebar {
    position: initial;
    display: flex;
    width: 450px;
    height: 200px;
    margin: 50px auto 50px;
    transform: translateX(10px);
    justify-content: center;

    padding: 30px 15px;
  }

  .sidebar-content {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-nav a + a {
    margin-top: 10px;
  }

  main {
    position: initial;
  }

  body {
    position: relative;
  }

  .sidebar-right {
    display: none;
  }

  /*---------- /SIDEBAR -----------*/

  /* --------- CONTENT ---------- */
  main {
    height: auto;
  }

  .main-content h1 {
    color: rgb(161, 0, 161);
    margin-bottom: 25px;
    text-align: center;
    font-size: 36px;
  }

  .main-content p {
    font-size: 18px;
  }

  .main-container {
    max-width: 500px;
    margin: 0 auto 100px;
  }

  /* --------- /CONTENT ---------- */

  /* ---------- FOOTER ----------*/
  .footer-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 50px auto 0px;
  }

  .footer-responsive img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
  }
  /* ---------- /FOOTER ----------*/

  /* ---------- STEAM -------------*/
  #steam {
    max-width: 700px;
    padding: 15px;
    background-color: #282e39;
    margin: 70px auto 100px;
  }
  /* ---------- /STEAM -------------*/
}

@media (min-width: 993px) and (max-width: 1650px) {
  .header-content {
    display: flex;
    align-items: center;
    font-size: 32px;
    width: 100%;
    padding: 15px 0 0;
    padding: 25px 50px;
  }

  .header-container {
    max-width: 1520px;
    margin: 0 auto;
    border-bottom: 2px solid white;
  }

  .span-logo {
    color: rgb(161, 0, 161);
  }

  .span-logo.text {
    display: inline-block;
    margin-left: 25px;
  }

  .header-container img {
    margin-left: 25px;
    width: 250px;
    height: 250px;
  }

  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-btn-absolut {
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .header-btn-absolut button {
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-size: 24px;
  }

  .header-btn-absolut button:hover {
    filter: opacity(0.8);
  }

  /* --------------  /Header ----------------*/

  main {
    margin-top: 100px;
    width: 100%;
    height: auto;
    position: relative;
  }
  /*---------- SIDEBAR -----------*/
  .sidebar {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 250px;
    height: 350px;

    background-color: rgb(3, 3, 3);
    box-shadow: 0 0 8px rgb(161, 0, 161);
    border-radius: 10px;
    padding: 30px 0;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
    text-align: center;
  }

  .sidebar-right {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .sidebar-right img {
    border-radius: 5px;
    box-shadow: 0 0 20px white;
    width: 200px;
    height: 200px;
  }

  /* ------------ /SIDEBAR ---------------*/
  .main-container {
    max-width: 700px;
    margin: 0 auto;
  }

  .main-content {
    margin-bottom: 25px;
    display: none;
    margin-left: calc(100% - 40vw);
  }

  .main-content h1 {
    margin-bottom: 25px;
    font-size: 38px;
  }

  .main-content p {
    font-size: 20px;
    margin-bottom: 15px;
  }

  /* ---------- FOOTER ----------*/
  .footer-responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 100px auto 0px;
  }

  .footer-responsive img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 20px white;
  }
  /* ---------- /FOOTER ----------*/
}
